// Button

.no-button
{
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.button
{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  @extend .no-border;
  @extend .text-white;
  @extend .font-semibold;
  @extend .rounded;
  @extend .py-3;
  @extend .px-5;

  &.button-big
  {
    @extend .px-12;
    @extend .py-4;
    @extend .text-normal;
  }

  &--bg-danger
  {
    @extend .bg-danger;
  }
  
  &--bg-primary
  {
    @extend .bg-primary;
  }

  &--bg-warning
  {
    @extend .bg-warning;
  }

  &--bg-success
  {
    @extend .bg-success;
  }

  &--outlined
  {
    @extend .bg-transparent;
    @extend .border;
    @extend .border-danger;
    @extend .text-danger;
  }

  &--rounded
  {
    @extend .rounded-full;
    @extend .px-8;
  }
  
}

