.card
{
    position: relative;
    display: flex;
    flex-direction: row;
    @extend .px-6;
    @extend .py-6;
    min-width: 0;
    word-wrap: break-word;
    @extend .overflow-hidden;
    @extend .shadow-lg;
    @extend .rounded;
    min-height: 0;
}

.card-content
{
    flex: 1 1 auto;
}

.card-title
{
    font-size: 1.3rem;
    @extend .text-black;
}

.card-subtitle
{
    font-size: 1rem ;
    @extend .text-gray-2
}