// Définit les propiriétés liées à la gestion des arrières-plans d'un élément 
// Couleur, image, taille, orih=gine, répétition ...

// Bg color
.bg-white
{
	background-color: #FFF;
}

.bg-transparent
{
	background-color: transparent;
}

.bg-danger
{
    background-color: $danger;
}

.bg-primary
{
    background-color: $primary;
}

.bg-secondary
{
    background-color: $secondary;
}

.bg-warning
{
    background-color: $warning;
}

.bg-success
{
    background-color: $success;
}

.bg-blue-1
{
    background-color: $blue-1;
}

.bg-blue-2
{
    background-color: $blue-2;
}

.bg-blue-3
{
    background-color: $blue-3;
}

.bg-gray-1
{
    background-color: $gray-1;
}

.bg-gray-2
{
    background-color: $gray-2;
}

.bg-gray-3
{
    background-color: $gray-3;
}

.bg-red-1
 {
	 background-color: $red-1;
 }

.bg-personal-color-1
{
	background-color: $personal-color-1;
}

// Bg position : permet de définir la position initiale, rélative à l'origine (bg-origin) pour 
// image d'arrière-plan.

.bg-bottom
{
	background-position: bottom;
}

.bg-center
{
	background-position: center;
}

.bg-left
{
	background-position: left;
}

.bg-left-bottom
{
	background-position: left bottom;
}

.bg-left-top
{
	background-position: left top;
}

.bg-right
{
	background-position: right;
}

.bg-right-bottom
{
	background-position: right bottom;
}

.bg-right-top
{
	background-position: right top;
}

.bg-top
{
	background-position: top;
}

// Bg repeat : définit comment les images d'arrières-plan sont répétées.

.bg-repeat
{
	background-repeat: repeat;
}

.bg-no-repeat
{
	background-repeat: no-repeat;
}

.bg-repeat-x
{
	background-repeat: repeat-x;
}

.bg-repeat-y
{
	background-repeat: repeat-y;
}

// Bg size : définit la taille des images d'arrières-plans pour l'élément

.bg-auto
{
	background-size: auto;
}

.bg-cover
{
	background-size: cover;
}

.bg-contain
{
	background-size: contain;
}

// Bg attachment : définit si la position de l'image d'arrière-plan est fixée ou non dans 
// la zone où elle est définit.

.bg-fixed
{
	background-attachment: fixed;
}

.bg-local
{
	background-attachment: local;
}

.bg-scroll
{
	background-attachment: scroll;
}