
/**
 * Framework CSS
 * Définir 3 breakpoints : Mobile - Tablette - Desktop
 * Mobile first
*/

*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: $font-family-1;
}

p
{
	line-height: 1.2em;
}

// Define color for all
:root
{
  --danger:     $danger;
  --primary:    $primary;
  --secondary:  $secondary;
  --warning:    $warning;
  --success:    $success;
}
