// Define grid

.container
{
  max-width: $container-width;
  margin: auto;
  overflow-x: hidden;
}

.container-full
{
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.row
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -10px;
  padding: 0 -10px;

  &.align-center
  {
    justify-content: center;
  }
}

.col-inner
{
  padding: 15px;
  background-color: brown;
}


/**
  * Responsive - Mobile first
*/

// Small devices (landscape phones)
[class*="col-md"], [class*="col-lg"]
{
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 $goutiere;
  overflow-x: hidden;
}

@for $i from 1 to $columns {
  .col-sm-#{$i}
  {
    flex-basis: ((100 / $columns) * $i) * 1%;
    max-width: ((100 / $columns) * $i) * 1%;
    padding: 0 $goutiere;
    overflow-x: hidden;
  }
}


// Medium devices (tablets)
@media screen and (min-width: $size-md)
{
  @for $i from 1 to $columns {
    .col-md-#{$i}
    {
      flex-basis: ((100 / $columns) * $i) * 1%;
      max-width: ((100 / $columns) * $i) * 1%;
      padding: 0 $goutiere;
    }
  }
}

// Large devices (desktops)
@media screen and (min-width: $size-lg)
{
  @for $i from 1 to $columns {
    .col-lg-#{$i}
    {
      flex-basis: ((100 / $columns) * $i) * 1%;
      max-width: ((100 / $columns) * $i) * 1%;
      padding: 0 $goutiere;
    }
  }
}